<%= stylesheet_link_tag 'producao/producao' %>
<%= javascript_pack_tag 'production_calendar' %>
<div style="margin: 20px;" class="return">
  <a href="/">← Voltar ao Início</a>
</div>
<div id="production-calendar-root"></div>